{%extends 'shop/base.html'%}
{% load static %}

{%block content%}

<p align="center">
<div class="add_product">
<form action="" enctype="multipart/form-data" method="post">{%csrf_token%}
{%for f in form%}

<p><b><label for="{{f.id_for_label}}">{{f.label}}</b></p><p>{{f}}</p>
{%endfor%}



{{images.management_form}}
    <b>Додати  фото товару:</b>
    {% for form in images %}

<nav><p>{{form}}</p></nav>
    {% endfor %}



<p align="right"><button type="submit" id='search'> <b>Отправить</b></button></p>
</form>
    <b class= 'reg-photo' id = 'add'>Додати ще фотографію</b>
    <b class = 'reg-photo' id = 'del'>Видалити останню</b>
</div></p>

{%endblock%}


<script type="text/javascript" src={% static "shop/js/jquery-3.7.1.min.js" %}></script>
<script type="text/javascript" src={% static "shop/js/main.js" %}></script>
