{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<div class="add_product">
    <div class= 'Edit'>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}



    {%for f in form%}

<p><b><label for="{{f.id_for_label}}">{{f.label}}</b></p><p>{{f}}</p>
{%endfor%}


    {{images.management_form}}
{% for f in images %}
    <b><p>{{ f }}</p></b>
{% endfor %}
<br>
<button id = search type="submit">Зберегти зміни</button>
</form>
</div>
</div>

{% endblock %}

<script type="text/javascript" src={% static "shop/js/jquery-3.7.1.min.js" %}></script>
<script type="text/javascript" src={% static "shop/js/script.js" %}></script>