{% extends 'shop/base.html'%}
{%block content%}
HI!!!
<form method="get">
<input type="text" name="name">
<input type="number" name="price_min" id="min_price">
<input type="number" name="price_max" id="max_price">
<button type="submit">Sub</button></form>

    {% for product in products %}
        <div>
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            {{product.price}}
            <div>
                {{product.is_published}}

                {% for image in product.images.all %}
                    <div>
                        <img src="{{ image.photo.url }}" alt="{{ image.caption }}">{{image.image.url}}
                        <p>{{ image.caption }}</p>
                    </div>
                {% endfor %}
                <a href="{%url 'add_to_cart' product.id%}">ADD </a>
            </div>



                            
<button><a href = '{%url "moder_accept" product.id%}'>Сохранить</a></button>

        </div>
    {% endfor %}

{%endblock%}


