{% extends 'shop/base.html'%}
{%block content%}

<div class= add_product>

<form method = 'Post'>
	
	{%csrf_token%}
	<nav align ='center'>

	<div class="song_block_Pc{{request.user_agent.is_pc}}">
	{%for f in form%}
	<div>{{f.errors}}</div>
<p>
<label for = "{{ f.id_for_label}}"><b>{{f.label}}:</b></label></p>{{f}}<p align="center"></p>
{%endfor%}
		<p align="right"> <b><button id = search>Отправить</button></b></p>
	</div></nav>Забули юзернейм чи пароль?<b>
	<p><a href="{%url 'users:password_reset'%}">&emsp;Відновити пароль</a></p></b>
	<p><a href="{%url 'users:sign_up'%}">Новий користувач? <p>&emsp;<b>Реєстрація...</p></a></p></b>
</form></div>
{%endblock%}