{% load i18n %}{% autoescape off %}
{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.
Печально конечно что у вас не хватило мозгов запомнить или записать пароль, разрабу пришлось сидеть в пол четвертого ночи и хуярить эту функцию для таких оленей как Вы
{% endblocktranslate %}

{% translate "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Если  вы долбоеб и забыли свой username, то ЗАПИШИ СУКА НОВЫЙ ПАРОЛЬ И ЭТО:' %} {{ user.get_username }}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}The Mr.Rac  team{% endblocktranslate %}

{% endautoescape %}
