{% extends "shop/base.html" %}
{% load i18n %}



{% block content %}<h3>
<div class="add_product">
<b>
<p>{% translate 'Наші котики вже пишуть вам листа, щоб ви могли відновити свій пароль!' %}</p>

<p>{% translate 'Перевірте скриньку, зазерніть у всі місця куди лист міг сховатися. Якщо він так і не знайдеться, перевірте вказаний поштовий адрес. Можливо котики доставили комусь іншому?' %}</p></b><a href="{%url 'users:login'%}">
<button id=search>Авторизація</button></a>
</div></h3>
{% endblock %}
