{% load i18n %}{% autoescape off %}
{% blocktranslate %}Наші котики з {{ site_name }} для вас дещо мають)

{% endblocktranslate %}

{% translate "А саме замуркове посилання на відновленяя паролю! Ось тримайте:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'І на останок маємо нагадати ваш юзернейм: ' %} {{ user.get_username }}

{% translate "Дякуємо, що пам'ятаєте про нас" %}

{% blocktranslate %}The Mr. Rac  team{% endblocktranslate %}

{% endautoescape %}
