{% extends 'shop/base.html'%}
{%block content%}


<div class="add_product">
	<b>
<form method = 'Post'>
	
	{%csrf_token%}<nav align ='center'>

	<div class="song_block_Pc{{request.user_agent.is_pc}}">
	{%for f in form%}
	<div>{{f.errors}}</div>
<p>
<label for = "{{ f.id_for_label}}"><b>{{f.label}}:</b></label></p>{{f}}<p align="center"></p>
{%endfor%}
Вже зареєстровані? &emsp;&emsp;
<a href="{%url 'users:login'%}">
<h3>Логін...</h3></a>
		<p align="right"><button type="submit" id="search"> Отправить</button></p>

	</div></nav>
</form>

</b></div>
{%endblock%}